body {
    /* font-family: Roboto, sans-serif; */
    font-weight: 300;
    font-size: 1rem;
    /* --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}

.page__content a {
    text-decoration: none;
    color: dodgerblue;
}

.greedy-nav {
    color: black;
}

.greedy-nav a {
    color: black;
}

.greedy-nav a:hover {
    color:dodgerblue;
}

.page__content p {
    /* font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1rem; */
    font-weight: 400;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}

.page__content {
    /* font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1rem; */
    font-weight: 400;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}

table {
    border: transparent;
    font-weight: 400;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 0.9em;
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto; 
    border-collapse: separate;       
    max-height: 200px; /* Fixed height */    
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1em;
}

thead {
    background-color: transparent;
    border: transparent;
    border-right: transparent;    
    z-index: 2;        
}

td {
    border: transparent;
    border-right: transparent;    
}

tr {
    border: transparent;
}

th {
    border: transparent;
}

.scrollable-table {
    overflow-x: auto;
    margin-bottom: 1em;
  }
  
.scrollable-table table {
width: 100%;
min-width: 600px; /* Adjust as needed */
}

.page__content table th:first-child,
.page__content table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 100px;  
  background-color: transparent;
}

#theme-toggle {
    visibility: visible;
    display: block;
}
