---
layout: default
---

<div class="publication">
  <div class="publication__image">
    {% if page.header.teaser %}
      <img src="{{ page.header.teaser | relative_url }}" alt="{{ page.title }}" class="publication__img">
    {% endif %}
  </div>
  <div class="publication__content">
    <h2 class="publication__title">{{ page.title }}</h2>
    <p class="publication__authors">{{ page.authors }}</p>
    <p class="publication__venue"><em>{{ page.venue }}</em>, {{ page.date | date: "%Y" }}</p>
    {% if page.paperurl %}
      <p><a href="{{ page.paperurl }}">Download PDF</a></p>
    {% endif %}
    <div class="publication__excerpt">
      {{ content }}
    </div>
  </div>
</div>